html, body {
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  color: #8987B6;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* cegah scroll horizontal */
}

footer.footer {
  position: relative;
  width: 100vw;          /* penuh viewport lebar */
  left: 50%;
  right: 50%;
  margin-left: -50vw;    /* offset supaya melebar ke kiri */
  margin-right: -50vw;   /* offset supaya melebar ke kanan */
  background: rgba(0, 0, 50, 0.7);
  padding: 1.5rem 0;
  text-align: center;
  box-sizing: border-box;
}

.navbar-custom {
  color:#8987B6;
  background-color: rgba(255, 255, 255, 0); /* transparan gelap */
  backdrop-filter: blur(20px);          /* efek blur */
  -webkit-backdrop-filter: blur(10px); /* untuk Safari */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* opsional, garis bawah halus */
}

.dropdown-menu {
  color:#8987B6;
  background-color: rgba(255, 255, 255, 0); /* transparan gelap */
  backdrop-filter: blur(20px);          /* efek blur */
  -webkit-backdrop-filter: blur(10px); /* untuk Safari */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* opsional, garis bawah halus */
}

/* Warna teks dropdown item */
.dropdown-menu .dropdown-item {
  color: #eee; /* warna teks terang supaya kontras */
}

/* Warna teks saat hover / focus */
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  background-color: #444; /* warna hover lebih terang dari background */
  color: white;
}

h1{
text-align: center;
color: #8987B6;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 130px;
font-size: 50px;
}

.card-container{
  
}